<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Successful</title>
</head>

<body>
    <h1>Booking Successful</h1>
    <p>Thank you, {{ name }}, for booking a seat!</p>
    <p>Bus Number: {{ bus_number }}</p>
    <p>Seat Number: {{ seat_number }}</p>
    <p>Pickup Location: {{ pickup_location }}</p>
    <p>Pickup Time: {{ pickup_time }}</p>
    <p>Return Pickup Location: {{ return_pickup_location }}</p>
    <p>Please send money using Pochi La Biashara to this number: 0112049957</p>
    <p><a href="/">Return to Home</a></p>

    <!-- Link to the Driver's Dashboard -->
    <a href="/driver_dashboard">Driver's Dashboard</a>
</body>

</html>
